{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
<<<<<<< HEAD
    <button type="submit">Add Comment</button>
=======
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
>>>>>>> a6ad9f4da49e7e9bd1368d9ffab33640333139f9
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<<<<<<< HEAD
=======
<script src="/javascript/upvote.js"></script>
>>>>>>> a6ad9f4da49e7e9bd1368d9ffab33640333139f9
{{/if}}